<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT page ANY>
<!ATTLIST page id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT umbracoProperties ANY>
<!ATTLIST umbracoProperties id ID #REQUIRED>
<!ELEMENT defaultContent ANY>
<!ATTLIST defaultContent id ID #REQUIRED>
]>
<root id="-1">
  <home id="1080" key="14a20d9b-a6f9-40b7-98a7-3d54fa04abbb" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-01-18T12:05:10" updateDate="2018-01-18T12:05:10" nodeName="Home" urlName="home" path="-1,1080" isDoc="" nodeType="1075" creatorName="Dibs Singh" writerName="Dibs Singh" writerID="0" template="1078" nodeTypeAlias="home" isPublished="true">
    <umbracoNaviHide>0</umbracoNaviHide>
    <umbracoSitemapHide>0</umbracoSitemapHide>
    <pageRTE><![CDATA[<p><span>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</span></p>]]></pageRTE>
    <pageTitle><![CDATA[Home]]></pageTitle>
    <page id="1081" key="f7273ec9-d8c9-4925-b071-8a233a808cc2" parentID="1080" level="2" creatorID="0" sortOrder="0" createDate="2018-01-18T12:05:37" updateDate="2018-01-18T12:05:37" nodeName="Page One" urlName="page-one" path="-1,1080,1081" isDoc="" nodeType="1076" creatorName="Dibs Singh" writerName="Dibs Singh" writerID="0" template="1079" nodeTypeAlias="page" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbracoSitemapHide>0</umbracoSitemapHide>
      <pageRTE><![CDATA[<p><span>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</span></p>]]></pageRTE>
      <pageTitle><![CDATA[Page One]]></pageTitle>
    </page>
  </home>
</root>