@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@
<div class="ui grid">
    <div class="eight wide column">
        @Umbraco.Field("pageTitle")
    </div>
    <div class="eight wide column">
        @Umbraco.Field("pageRTE")
    </div>
    <h1>@Umbraco.Field("pageTitle")</h1>
    @Umbraco.Field("pageRTE")
</div>