@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

@* the fun starts here *@
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Senmatic UI CSS -->
    <link href="~/Content/semantic.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <title>Hello, world!</title>
</head>
<body>
    <header>
    
    </header>
    <h1>Hello, world!</h1>
    @RenderBody()
    <footer>
    
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first -->
    <script src="~/scripts/jquery-1.8.1.min.js"></script>
    <script src="~/scripts/semantic.min.js"></script>
</body>
</html>